# {{ ansible_managed }}

export PGUSER="{{ psql.user }}"
export PGHOST="{{ psql.host }}"
export PGDATABASE="{{ psql.development_db }}"
export DEVELOPMENT_DB="{{ psql.development_db }}"
export TEST_DB="{{ psql.test_db }}"
